* {
    font-size: 0.5rem;
}

header {
    width: 100%;
    height: 45px;
    background-color: whitesmoke;
}

h1, h2 {
    font-size: 0.6rem;
    margin: 15px auto;
    text-align: center;
}

form {
    margin: 25px auto;
    display: flex;
    justify-content: center;
}

.content-form,
.finish-form-container{
    width: 55%;
}

label { 
    margin: 15px auto 0px 0px;
}
input {
    margin: 5px auto 15px auto;
    width: 100%;
}

.error {
    width:100%;
    height: 22px;
    background-color: red;
    color: white;
    line-height: 25px;
    margin: -15px auto 15px auto;
    font-size: 0.35rem;
    padding: 0px 0px 0px 5px;
}

.sbt_btn_box {
    display: flex;
    justify-content: flex-end;
}

button[type="submit"],
button[type="button"] {
    width: 20%;
    height: 30px;
    background-color: whitesmoke;
    cursor: pointer;
    margin: 15px 0px auto auto ;
}

h2 {
    background-color: limegreen;
    width: 100%;
    margin: 5px auto;
}

.finish-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.trans-det-hdr {
    margin: 15px auto auto auto;
}
